
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    margin: 0px;
    user-select: none;/*user can not select any text*/
    padding: 0px; 
    background-image: url("alex-perez-pEgsWN0kwbQ-unsplash.jpg");
    background-size:cover ; 
    height: 100Vh;
}
header{
display: flex;
}
.face img {
    width: 500px;
    margin-left: 67%;
    margin-top: -6%;
    user-select: none;
pointer-events: none ;
    
}
h4{

   border-top: solid #330435 5px  ;   
}
h3{
    color: #ffff;
    font-style: normal;
    font-size: 28px;
    padding-left: 50px;
    width: 50%;
    padding-top: 1%;
}
/* text ke first letter ko color krna  */
h3::first-letter{ 
color: rgb(247, 39, 39);

}
ul{
    margin-top: 2.3%;
    width: 50%;
    margin-left: 38%;
}
ul li:hover{
     color: rgb(247, 39, 39)
}
ul li{
    padding-right: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    display: inline; /* ek line me likhne ke liye (sidhi line)*/
    list-style: none;
    margin-top: 10px;

    margin-bottom: 10px;
 
}
h2{
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    background: none;

}
h1{
    color: rgb(247, 39, 39);
    text-align: center;
    margin-top: 45px;
    font-size: 50px;
    background: none;
   
}
nav{
    text-align: center;
    margin-top: 25px;
    background: none;

}
nav button{

    border: palegreen;
    border-radius:5px;
text-align: center;
padding: 0.4%;
padding-left: 1%;
padding-right: 1%;
}
.tle {
    color: rgb(255, 255, 255);
    text-shadow:1px 19px 18px  rgb(6, 40, 49);
}
.lolo {
    width: 2px 3px ;
    margin-bottom: 50px;
}

form {
    position: relative;
}

form {
    display: block;
    margin-top: 0em;
}

input:hover 
{
color: #330435;
}
NAv i{
    color: #c30000;
    font-size: 26px;
}
.srch{
    position: relative;
    width: 100%;
}
#search{
margin-top: 3%;
margin-left: 35%;
width: 30%;
font-size: 22px;
padding: 0.4%;
border-radius: 10px;
outline: none;
border: none;
box-shadow: 0px 0px 32px 2px rgb(108, 108, 108);
padding-left: 1%;
padding-top: 0.6%;
padding-bottom: 0.6%;
}
#searchIcon{
position: absolute;
top: 64%;
right: 38%;
font-size: 20px;
color: rgb(4,81,91);
}

/* selected area highlight kr deta hai, when we select something like a hover */
#search:focus{
    color: rgb(146, 3, 103); 
    border: 2px solid rgb(146, 3, 103);
    /* rgb(4, 81, 91); */
}
/* it fix the img in proper size to the backgroung size */
#profile{
    position: absolute;
    bottom: 0;
    right: 0;
}