
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    margin: 0px;
    padding: 0px; 
    background-image: url("alex-perez-pEgsWN0kwbQ-unsplash.jpg");
    /*background-image:url("marek-piwnicki-lPp-OrW5lnA-unsplash (1).jpg");
   /* background: linear-gradient(rgba(255, 209, 5, 0.5),rgba(255, 255, 255, 0.3)),url("marek-piwnicki-lPp-OrW5lnA-unsplash (1).jpg");*/
    background-size:cover ; 
    height: 100Vh;
}
header{
display: flex;
/* border-bottom: solid rgb(239, 240, 243) 6px; */
}
.face img {
    width: 500px;
    margin-left: 67%;
    margin-top: -7.6%;
    
}
h4{

   border-top: solid #330435 5px  ;
    
}
h3{
    color: #ffff;
    font-style: normal;
    font-size: 28px;
    padding-left: 50px;
    width: 50%;
    padding-top: 1%;
}
h3::first-letter{
color: rgb(247, 39, 39);

}
ul{
    margin-top: 2.3%;
    width: 50%;
    margin-left: 38%;
}
ul li:hover{
     color: rgb(247, 39, 39)
}
ul li{
padding-right: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    display: inline; /* ek line me likhne ke liye (sidhi line)*/
    list-style: none;
    margin-top: 10px;

    margin-bottom: 10px;
 
}
h2{
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    background: none;

}
h1{
    color: rgb(247, 39, 39);
    text-align: center;
    margin-top: 45px;
    font-size: 50px;
    background: none;
   
}
nav{
    text-align: center;
    margin-top: 25px;
    background: none;
}
nav button{
    font-size: 22px;
    border: palegreen;
    border-radius:5px;
    margin: 10px;
    padding: 5px;
}
.tle {
    color: rgb(255, 255, 255);
    text-shadow:1px 19px 18px  rgb(6, 40, 49);
}
.lolo {
    width: 2px 3px ;
    margin-bottom: 50px;
}
.middle {
    background-image:linear-gradient(rgba(0, 0, 0, 0.139),rgba(0, 0, 0, 0.295)), url('marek-piwnicki-lPp-OrW5lnA-unsplash (1).jpg');
    background-size: cover;
    height: 100vh;
}
.middle h1 {
    color: #531d02;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 4PX;
    font-size: 60px;
    font-family:"algerian";
    padding: 13px;
}
form {
    position: relative;
}

form {
    display: block;
    margin-top: 0em;
}
.srch input {
    position: absolute;
    height: 40px;
    width: 298px;
    margin: 80px 0px;
    margin-left: 616px;
    border: none;
    padding: 17px;
    font-size: 17px;
    font-family: monospace;
    color: #718293;
    border-radius: 10px;
}
input:hover 
{
color: #330435;
}